#sizeLogo{
    max-width: 80%;
}
.titleCenter {
    margin: 2%;
    text-align: center;
}
.formConnection{
    width: 60%;
    margin: 2% 20%;
}
.formCenter{
    margin: 2% 20%;
}
.custom-select {
    margin: 20px 15%;
    width: 70%;
}

.sizedown{
    font-size: 0.7rem;
}
.replacementBouton{
    margin: 3%;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.replacementTd{
    display: flex;
    align-items: center;
}
#espece{
    width: 45%;
}
#nb{
    padding-right: 0;
}
.NoPaddingSide{
    padding-right: 0;
    padding-left: 0;
}
